#about
{
    padding: var(--gap100) 0;
}

#about .wrapper
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: var(--gap);
}

@media(max-width:776px)
{
    #about .wrapper
    {
        display: block;
    }
    
    #about picture
    {
        display: none;
    }
}

#about h1
{
    font-size: 46px;
}

@media(max-width:450px)
{
    #about h1
    {
        font-size: 32px;
    }    
}

#about ul 
{
    margin: var(--gap) 0 var(--gap) var(--gap);
}

#about li 
{
    margin: var(--gap) 0;
    font-size: 22px;
}

#about p
{
    line-height: 1.5;
    font-size: 22px;
    margin: 0 0 var(--gap);
}

@media(max-width:776px)
{
    #about p
    {
        /* line-height: 1.5; */
        font-size: 16px;
        /* margin: 0 0 var(--gap); */
    }    
}