
#banner
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: var(--gap);
    padding: 0 0 var(--gap);
}

@media(max-width:776px)
{
    #banner
    {
        padding: 0;
    }    
}

@media(max-width:450px)
{
    #banner
    {
        gap: 5px;
    }    
}

#banner h1
{
    font-size: 50px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    transform: scaleY(1.5) scaleX(.75);
    color: var(--white);
    text-align: center;
}

@media(max-width:996px)
{
    #banner h1
    {
        font-size: 30px;
    }    
}

@media(max-width:450px)
{
    #banner h1
    {
        margin: 0;
    }    
}

#banner h2
{
    font-size: 100px;
    font-family: 'Exo 2', sans-serif; 
    font-weight: 900;
    text-transform: uppercase;
    color: var(--orange);
    margin: 0 0 var(--gap);
    text-align: center;
}

@media(max-width:996px)
{
    #banner h2
    {
        font-size: 60px;
    }    
}

@media(max-width:450px)
{
    #banner h2
    {
        margin: 0;
        font-size: 40px;
    }    
}

#banner p 
{
    color: var(--white);
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    width: 50%;
    margin: 0 0 var(--gap);
}

@media(max-width:996px)
{
    #banner p 
    {
        width: 95%;
        margin: 0 auto var(--gap);
    }    
}

@media(max-width:450px)
{
    #banner p
    {
        font-size: 16px;
    }
}

#banner p strong
{
    text-transform: uppercase;
    color: var(--orange);
}

/* іконки */
#banner ul 
{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: var(--gap);
    margin: 0 0 var(--gap);
}

@media(max-width:996px)
{
    #banner ul 
    {
        grid-template-columns: repeat(4,1fr);
    }       
}

@media(max-width:776px)
{
    #banner ul 
    {
        grid-template-columns: repeat(3,1fr);
        padding: 0 var(--gap)
    }    
}

#banner li 
{
    display: block;
    text-align: center;
    color: var(--white);
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    padding: var(--gap);
}

@media(max-width:776px)
{
    #banner li 
    {
        font-size: 14px;
        padding: 0;
    }    
}

#banner li a
{
    color: var(--white);
    text-decoration: none;
}

#banner li picture
{
    margin: 0 auto var(--gap);
    display: block;
    transition: .5s;
}

@media(max-width:776px)
{
    #banner li picture
    {
        max-width: 160px;
    }    
}

@media(max-width:450px)
{
    #banner li picture
    {
        max-width: 80px;
    }    
}

#banner li a:hover picture
{
    transform: scale(1.1)
}