
/* ///////////////////
// форма оформлення //
/////////////////// */

/* temp */
/* hr
{
    margin: var(--gap)
} */

#form
{
    background: url('../images/banner2.jpg');
    padding: var(--gap);
}

#form form
{
    display: flex;
    flex-flow: column;
    gap: var(--gap);
}

#form form input,
#form form textarea
{
    background: transparent;
    padding: calc(var(--gap) / 2);
    outline: none;
    border: 1px solid var(--white);
    color: var(--white);
    font-family: inherit;
    /* font-size: 18px; */
}

#form form textarea
{
    height: 80px;
    resize: none;
}

#form label
{
    display: flex;
    align-items: center;
    gap: var(--gap);
    color: var(--white);
}

#form input[type=radio]
{
    width: 20px;
    height: 20px;
}

::placeholder
{
    color: var(--white);
}

#form button
{
    padding: calc(var(--gap)/2) var(--gap);
    outline: none;
    border: none;
    cursor: pointer;
    align-self: center;
    border-radius: 5px;
    font-family: inherit;
    /* font-size: 18px; */
}

#form p 
{
    margin: calc(var(--gap)/2) 0;
    color: var(--white);
    text-transform: uppercase;
}

/* ///////////////////
// замовлені товари //
/////////////////// */

#goods
{
    color: var(--white);
}

#goods ul
{
    display: block;
}

#goods li 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: calc(var(--gap)/2) 0;
}

#goods span::after
{
    content: ' грн'
}

#goods i 
{
    font-style: normal;
    font-weight: bold;
    display: flex;
    width: 20px;
    height: 20px;
    background: var(--white);
    color: var(--dark);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}