
/* ///////////////////
// форма оформлення //
/////////////////// */

body.active
{
    /* position: fixed; */
    overflow: hidden;
}

#order
{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    padding: calc(var(--gap)*2) var(--gap) var(--gap);
    overflow-y: scroll;
    visibility: hidden;
}

#order.active
{
    z-index: 1060;
    visibility: visible;
}

#order-wrapper
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1061;
    background: rgba(0,0,0,.5);
}

#close
{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    z-index: 1080;
    fill: none;
    stroke: var(--white);
    stroke-width: 3px;
    stroke-linejoin: bevel;
    stroke-linecap: round;
}

#form
{
    background: url('../images/banner2.jpg');
    padding: var(--gap);
    border-radius: 3px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.5);

    position: relative;
    z-index: 1070;
    width: 600px;
    margin: auto;
}

@media(max-width:776px)
{
    #form
    {
        width: 95%;
    }
}

#form form
{
    display: flex;
    flex-flow: column;
    gap: var(--gap);
    margin: var(--gap) 0 0;
}

#form form input,
#form form textarea
{
    background: transparent;
    padding: calc(var(--gap) / 2);
    outline: none;
    border: 1px solid var(--white);
    color: var(--white);
    font-family: inherit;
}

#form form textarea
{
    height: 80px;
    resize: none;
}

#form label
{
    display: flex;
    align-items: center;
    gap: var(--gap);
    color: var(--white);
}

#form input[type=radio]
{
    width: 20px;
    height: 20px;
}

::placeholder
{
    color: var(--white);
}

#form button
{
    padding: calc(var(--gap)/2) var(--gap);
    outline: none;
    border: none;
    cursor: pointer;
    align-self: center;
    border-radius: 5px;
    font-family: inherit;
    /* font-size: 18px; */
}

#form p 
{
    /* margin: calc(var(--gap)/2) 0; */
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
}

/* ///////////////////
// замовлені товари //
/////////////////// */

#goods
{
    color: var(--white);
}

#goods ul
{
    display: block;
}

#goods li 
{
    /* display: flex; */
    display: grid;
    grid-template-columns: 20px 1fr auto;
    align-items: center;
    justify-content: space-between;
    margin: calc(var(--gap)/2) 0;
    gap: var(--gap);
}

#goods span::after
{
    content: ' грн'
}

#goods .plus, 
#goods .minus 
{
    font-weight: bold;
    display: flex;
    width: 20px;
    height: 20px;
    color: var(--white);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    line-height: 1;
}

#goods .plus
{
    background: #2bb12b;
}

#goods .minus
{
    background: tomato
}

#goods .minus::after
{
    content: '';
    position: absolute;
    top: 10px;
    left: 5px;
    width: 10px;
    height: 1px;
    background: var(--white);
    transform: rotate(45deg);
}

#goods .minus::before
{
    content: '';
    position: absolute;
    top: 10px;
    left: 5px;
    width: 10px;
    height: 1px;
    background: var(--white);
    transform: rotate(-45deg);
}

/* ////////////////
// загальна сума //
//////////////// */
#total-goods
{
    text-align: center;
    margin: 0 0 var(--gap);
    color: var(--white);
}

#total-goods::after
{
    content: ' грн';    
}

#total-goods::before
{
    content: 'Всього: ';
}