.menu
{
    margin: var(--gap100) 0;
}

.menu .wrapper
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: var(--gap);
}

@media(max-width:776px)
{
    .menu .wrapper
    {
        /* display: grid; */
        grid-template-columns: 1fr;
        /* gap: var(--gap); */
    }    
}

.menu article
{
    display: grid;
    gap: calc(var(--gap)/2);
    grid-template-columns: 40px 1fr;
    grid-template-areas:
        'menu-aside menu-header'
        'menu-aside menu-p';
    cursor: pointer;
}

.menu header
{
    grid-area: menu-header;

    border-bottom: 2px dotted var(--light);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu aside
{
    grid-area: menu-aside;
    align-self: center;
}

.menu aside .icon
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23727272' viewBox='0 0 16 16'%3E%3Cpath d='M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z'/%3E%3C/svg%3E");
    width: 40px;
    height: 40px;
    transition: .5s;
}

.menu article.active .icon
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23218f1d' viewBox='0 0 16 16'%3E%3Cpath d='M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z'/%3E%3Cpath d='M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z'/%3E%3C/svg%3E");
    animation: none!important;
}

.menu article:hover .icon
{
    animation: pulse 1s infinite linear;
}

@keyframes pulse
{
    0%,100%
    {
        transform: scale(1,1);
    }   
    50%
    {
        transform: scale(1.1, 1.1);
    } 
}

.menu article h1,
.menu article span
{
    margin: 0;
    overflow: hidden;

    color: var(--black);
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    font-size: 22px;
    font-weight: 600;
    position: relative;
    bottom: -10px;
    background: var(--white);
}

@media(max-width:450px)
{
    .menu article h1,
    .menu article span
    {
        font-size: 16px;
    }
}

.menu article.active h1,
.menu article.active span
{
    color: var(--green);
}

.menu article h1
{
    padding-right: 10px;
}

.menu article span
{
    padding-left: 10px;
}

.menu p
{
    grid-area: menu-p;
    /* color: var(--gray); */
    color: var(--black);
    font-weight: 300;
    font-size: 18px;
}

.menu picture
{
    margin: var(--gap100);
    display: block;
}

@media(max-width:776px)
{
    .menu picture
    {
        margin: var(--gap100) 0;
        /* display: block; */
    }    
}