
/* ////////////////
// модальне меню // 
//////////////// */

#modal ul
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: var(--gap);
}

@media(max-width:776px)
{
    #modal ul
    {
        grid-template-columns: repeat(3,1fr);
    }    
}

@media(max-width:540px)
{
    #modal ul
    {
        grid-template-columns: repeat(2,1fr);
    }    
}

#modal li 
{
    display: block;
    text-align: center;
}

#modal a
{
    padding: var(--gap);
    display: block;
    transition: .5s;
}

#modal a:hover,
#modal a:focus
{
    outline: 1px solid var(--orange);
    color: var(--orange);
}

/* ////////////////////
// мобільні телефони //
//////////////////// */
#call ul,
#call li 
{
    display: block;
}

#call li
{
    margin: 0 0 var(--gap);     
}

#call li a
{
    padding: var(--gap);
    display: flex;
    gap: var(--gap);
    align-items: center;
    text-decoration: none;
}

#call li a:hover,
#call li a:focus
{
    color: var(--orange);
    outline: 1px solid var(--orange);
}

#call li a:hover svg,
#call li a:focus svg
{
    fill: var(--orange)
}

#range
{
    color: var(--white);
    align-items: center;
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: calc(var(--gap)/2)
}

#range span::after
{
    content: ':00';
}